@import "tailwindcss";

@theme {
  --color-primary: #e5b0fe;
  --color-secondary: #fae6ff;
  --color-textColor: #51005c;
}

body {
  background-color: ivory;
  box-sizing: border-box;
}

body,
html,
#root {
  overflow-x: hidden;
}

.animatedButton {
  animation-duration: 10000ms;
}

/* overwrite react-quill library css */
.ql-container {
  border: none !important;
}

.ql-toolbar {
  border: none !important;
}

.ql-editor {
  border: none !important;
}


.loader {
  border: 10px solid #ffffff;
  border-top: 10px solid #e5b0fe;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: auto;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}