@import "tailwindcss";
@theme {
  --color-primary: #e5b0fe; /* Use --color-{name} for your custom colors */
  --color-secondary: #fae6ff;
  --color-text-color: #51005c; /* Hyphenated names are common for CSS variables */
}
body {
  background-color: ivory;
  box-sizing: border-box;
}

body,
html,
#root {
  overflow-x: hidden;
}

.animatedButton {
  animation-duration: 10000ms;
}

/* overwrite react-quill library css */
.ql-container {
  border: none !important;
}

.ql-toolbar {
  border: none !important;
}

.ql-editor {
  border: none !important;
}

